* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: Calibri, sans-serif;
    font-size: 16px;
}

body {
    width: 100%;
    min-height: 100vh;
    background-color: black;
    padding: 0;
    display: flex;
    justify-content: center;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: url("../img/netflix-animation.mp4");
}

#privacy{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 10px;
    height: 120px;
    background-color: black;
    text-align: center;
    color: white;
}

#privacy button{
    background-color: #E50914;
    color: white;
    margin-top: 10px;
    width: 120px;
    height: 30px;
    font-size: 16px;
    font-weight: 700;


    cursor: pointer;
}

#privacy h1{
    font-size: 30px;
    color: #E50914;
}

#privacy b{
    color: #E50914;
    text-decoration: underline;

    cursor: pointer;
}