@media screen and (max-width: 700px){
    header .container{
        display: flex;
        flex-direction: column;
        margin-top: 20px;
        margin-bottom: 10px;
    }

    header img{
        padding-top: 15px;
        padding-bottom: 10px;
        width: 40%;
    }

    .button{
            margin-bottom: 8px;
            width: 200px;
            font-size: 10px;
    }
}

@media screen and (max-width: 1000px){
    .description{
        width: 60%;
    }
}

@media screen and (min-width: 360px) and (max-width: 570px){
    
    header nav a{
        text-decoration: none;
        color: #AAA;
        
        padding-left: 5px;
        font-size: 16px;
    }

    #main{
        height: 30vh;
        margin-top: 50px;
    }

    .main-movie .title{
        margin-top: 180px;
        font-size: 16px;
        
    }

    .description{
        width: 100%;
        font-size: 10px;
        margin-top: 10px;
        margin: 0;
    }
    .main-movie{
        height: 100px;
        margin-top: 20px;
        
        background: url("/img/house-of-cards.jpg");
        background-size: cover; /* Usado para manter a imagem dentro da div */
    }

    .buttons{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 150%;
        margin: 0;
        margin-bottom: 20px;
        padding: 0;
    }

    .button{
        width: 300px;
        padding: 3px 1px 3px 1px;
        margin-left: 3px;
        margin-top: 0;
        margin-bottom: 40px;
        font-size: 9px;
    }

    .button i{
        font-size: 9px;
    }

    #back-button{
        width: 200px;
        margin-left: 30px;
        font-size: 20px;
    }
    
    #back-button:hover{
        background-color: white;
    }
    .carousel-movies{
        margin-top: 10px;
        height: 100%;
        width: 100%;
    }

    .trailers iframe{
        width: 100%; 
    }
}